.choice-wrapper {
    height: 100vh;
    width: 100vw;
    background: url(../../assets/images/choice/choice-background.png) no-repeat center bottom/cover;
    position: relative;

    .choice-wrapper-left-heroes {
        background: url(../../assets/images/choice/choice-background-left-heroes.png) no-repeat center bottom;
        position: absolute;
        bottom: 0;
        left: 0;

        img {
            visibility: hidden;
        }
    }

    .choice-wrapper-right-heroes {
        background: url(../../assets/images/choice/choice-background-right-heroes.png) no-repeat center bottom;
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            visibility: hidden;
        }
    }

    .choice-form {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;

        .logo-wrapper {
            display: flex;
            justify-content: center;
            margin: 72px 0;
            background: url('../../assets/images/choice/logo.png') no-repeat center bottom/cover;

            img {
                visibility: hidden;
            }
        }
        
        .choice-selects {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 48px;

            fieldset {
                border: 2px solid #7159EC;
            }
    
            input {
                color: #C8C2FF;
            }

            svg {
                color: #C8C2FF;
            }
    
            .choice-maps-select, .choice-hero-classes-select {
                background: linear-gradient(90.08deg, rgba(55, 27, 127, 0.5) -2.15%, rgba(55, 27, 127, 0) 83.56%), rgba(17, 11, 32, 0.5);

                .MuiOutlinedInput-root:hover {
                    transition: all 0.3s ease;
                    background: linear-gradient(90.08deg, rgba(55, 27, 127, 0.5) -2.15%, rgba(55, 27, 127, 0) 83.56%),
                                linear-gradient(0deg, rgba(17, 11, 32, 0.5), rgba(17, 11, 32, 0.5));
                }
    
                label {
                    color: #C8C2FF;
                }

                &:hover label, &:hover input, &:hover svg {
                    transition: all 0.3s ease;
                    color: #DFDCFF;
                }

                &:hover fieldset {
                    transition: all 0.3s ease;
                    border: 2px solid #AB9BFF;
                }
            }
        }
    
        .choice-submit {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: auto;
            outline: none;
            border: none;
            width: 290px;
            height: 62px;
            cursor: pointer;
            background: url(../../assets/images/choice/choice-btn.svg) no-repeat center top/cover;
            position: relative;

            &:hover {
                transition: all 0.3s ease;
                filter: brightness(130%);
            }

            &-disabled {
                cursor: not-allowed;

                &:hover {
                    filter: none;
                }

            }
        }
    }
}
